canvas {
    border: 2px solid red;
}

.label {
    width: 25px;
    font-family: sans-serif;
    color: dimgray;
}

.number {
    height: 20px;
    align-items: center;
}

.values {
    width: 45px;
    text-align: right;
    font-family: sans-serif;
    color: red;
    /*height: 25px;*/
}